services:
  clinical_narrative_app:
    build:
      context: ./clinical_narrative_app
      args:
        FLAVOR: ${FLAVOR:-dockerVps}
        API_BASE_URL: http://survey-backend:8000/api/v1/
    container_name: clinical_narrative_app
    restart: always
    ports:
      - "8082:80"
    volumes:
      - ./infra/docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - survey-backend
    networks:
      - survey_network

volumes:
  mongodb_data:

networks:
  survey_network:
    driver: bridge
