version: "3.9"

services:
  clinical-writer-api:
    build:
      context: ./clinical_writer_agent
      dockerfile: Dockerfile
    command: uvicorn clinical_writer_agent.main:app --host 0.0.0.0 --port 8000
    container_name: clinical_writer_agent
    env_file:
      - clinical_writer_agent/.env
    ports:
      - "9566:8000"
    restart: unless-stopped
    networks:
      - survey_network

volumes:
  mongodb_data:

networks:
  survey_network:
    driver: bridge
