services:
  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - survey_network
    env_file:
      - .env

  survey_fastapi:
    build: .
    container_name: survey_fastapi
    restart: no
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    networks:
      - survey_network
    env_file:
      - .env

volumes:
  mongodb_data:


networks:
  survey_network:
    driver: bridge
