a2wsgi
aiosmtplib
annotated-types
anyio
blinker
cachecontrol
cachetools
certifi
cffi
charset-normalizer
click
cloudevents
cryptography
deprecation
dnspython
email-validator
exceptiongroup
fastapi
fastapi-mail
firebase-admin
firebase-functions
flask
flask-cors
functions-framework
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-events
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
h2
hpack
httpcore
httpx
hyperframe
idna
itsdangerous
jinja2
markupsafe
msgpack
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydantic-settings
pyjwt
pymongo
python-dotenv
pyyaml
requests
rsa
sniffio
starlette
typing-extensions
typing-inspection
urllib3
uvicorn
uvicorn-worker
watchdog
werkzeug
