name: Deploy to Firebase

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0' # Adjust version as needed

      - name: Install Dependencies
        run: |
          cd frontend
          flutter pub get

      - name: Build Web
        run: |
          cd frontend
          ./build_survey.sh firebase

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_SURVEY_APP }}
          channelId: live
          projectId: your-project-id # TODO: Update with actual project ID
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
